{% extends 'base.html.twig' %}

{% block title %}Administration - {{ site_name }}{% endblock %}
{%block atyle %} 
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 sidebar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tableau de bord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Utilisateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Commandes</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10 main">
            <h1>Tableau de bord</h1>

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Utilisateurs
                        </div>
                        <div class="card-body">
                            <p>Nombre total d'utilisateurs : {{ total_users }}</p>
                            <p>Nouveaux utilisateurs aujourd'hui : {{ new_users_today }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Produits
                        </div>
                        <div class="card-body">
                            <p>Nombre total de produits : {{ total_products }}</p>
                            <p>Nouveaux produits aujourd'hui : {{ new_products_today }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Commandes
                        </div>
                        <div class="card-body">
                            <p>Nombre total de commandes : {{ total_orders }}</p>
                            <p>Nouvelles commandes aujourd'hui : {{ new_orders_today }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
