<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('images/Logos/LOGO-APP.png') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

<div class="example-wrapper">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ALL4SPORT</title>
        <link href="{{ asset('css/styles-index.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/connexion.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/login-style.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/CategorieProduit.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/admin.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/shop-styles.css') }}" rel="stylesheet"/>
    
    <!-- Font Awesome -->

    </head>
    <body>
        <nav>
            <div class="profile">
            <a href="{{path('app_accueil')}}">
                <img src="{{asset('images\Logos\LOGO-Aall4sport.png')}}">

                </a>
                <h1>All4Sport</h1>
            </div>
            <ul>
                <a href="{{path('app_commandes')}}" >
                    <li>Commandes</li>
                </a>
                <a href="{{path('app_connexion')}}">
                    <li>Connexion</li>
                </a>
                <a href="{{path('app_panier')}}">
                    <li>Panier 🛒</li>
                </a>
                <a href="{{path('app_admin')}}">
                    <li>Admin</li>
                </a>
            </ul>
        </nav>



    </body>                                                                           
</html>
</div>
        {% block body %}{% endblock %}
        <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>


    <footer>
        
        <div class="newsletter">
            <p>Inscrivez vous à notre newsletter pour rester informé de nos nouveautés !</p>
            
            <form action="" method="post">
                <input type="email" name="email" placeholder="Votre email"/><br/>
                <button type="submit">Souscrire</button>
            </form>
        </div>  

        <nav>
            &copy; 2022 ALL4SPORT. Tous droits réservés..<br>
            Crée par : Fednail <br><br>
            <a href="#">Mentions légales</a> / <a href="#">Plan du site</a>

            <div class="contact-footer">
                <h4>Contact</h4>
                contact@all4sport.com<br>
                +33 (0)897654321<br/>
            </div>
            % for socialLink in socialLinks %}
    <a href="{{ socialLink.url }}" target="_blank">
        {% if socialLink.icone is not null %}
            <i class="{{ socialLink.icone }}"></i>
        {% else %}
            {{ socialLink.nom }}
        {% endif %}
    </a>
{% endfor %}
        </nav>
        
        
        
        <a href="#top"><img src="images/Banner/Arrow-bar-up.png" alt="Monter" width="20px"/></a>
    </footer>

</body>
</html>